*/__pycache__
*/*/__pycache__
server/my_env
client/pnpm-lock.yaml
server/.venv
server/utils/firebase_cred.json
# Environment variables
.env
**/.env
server/.env
__pycache__
server/utils/firebase_cred.json
server/.venv
